.btn-primary {
  background-color: #9D67AC;
  border-color: #9D67AC;
  color: #fff; }
  .pager > li a.btn-primary:hover, .pager > li a.btn-primary:focus, .pager > li a.btn-primary.focus, .pager > li a.btn-primary:active, .pager > li a.btn-primary.active,
  .open > .pager > li a.btn-primary.dropdown-toggle,
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary.active,
  .open >
  
  .pager > li a.btn-primary:active:hover, .pager > li a.btn-primary.active:hover, .pager > li a.btn-primary:active:focus, .pager > li a.btn-primary:active:focus, .pager > li a.btn-primary:active.focus, .pager > li a.btn-primary.active.focus,
  .open > .pager > li a.btn-primary.dropdown-toggle:focus,
  .open > .pager > li a.btn-primary.dropdown-toggle:hover,
  .btn-primary:active:hover,
  .btn-primary:active:focus,
  .open >
  .btn-primary.dropdown-toggle:focus,
  .open >
  .btn-primary.dropdown-toggle:hover {
    background-color: #9158a1;
    border-color: #9158a1;
    color: #fff; }
  .pager > li a.btn-primary.disabled:hover, .pager > li a.btn-primary.disabled:focus, .pager > li a.btn-primary.disabled.focus, .pager > li a.btn-primary.disabled:active, .pager > li a.btn-primary.disabled.active, .pager > li a.btn-primary[disabled]:hover, .pager > li a.btn-primary[disabled]:focus, .pager > li a.btn-primary[disabled].focus, .pager > li a.btn-primary[disabled]:active, .pager > li a.btn-primary[disabled].active,
  fieldset[disabled] .pager > li a.btn-primary:hover,
  fieldset[disabled] .pager > li a.btn-primary:focus,
  fieldset[disabled] .pager > li a.btn-primary.active,
  .btn-primary[disabled]:hover,
  .btn-primary[disabled]:focus,
  .btn-primary[disabled].active,
  fieldset[disabled]
  .btn-primary:hover,
  fieldset[disabled]
  .btn-primary:focus,
  fieldset[disabled]
  .btn-primary.focus,
  fieldset[disabled]
  .btn-primary:active,
  fieldset[disabled]
  .btn-primary.active {
    background-color: #9D67AC;
    border-color: #9D67AC;
    color: #fff; }

.card {
  margin-bottom: .75rem; }


.card-heading {
  border-radius: 0; }

.card-title {
  font-size: 16px;
  margin-bottom: 0; }

body {
    font-family: 'Montserrat', sans-serif;
    background: #fcfdff;
    overflow-x: hidden;
    font-size: 14px;
}



@media (min-width: 1200px) {
  .container-fluid {
    width: 95%; }
  .container,
  .container-fluid {
    max-width: 1480px; }
  .boxed .container-fluid {
    max-width: 1400px !important; } }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 10px;
  padding-left: 10px; }

.row {
  margin-right: -10px;
  margin-left: -10px; }


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  /*font-weight: 300;*/ }

.page-header {
  padding: 45px 0 65px 0; }
  .page-header .page-title {
    color: #fff;
    margin: 0 0 6px;
    font-weight: 400;
    font-size: 42px; }
  .page-header .page-subtitle {
    color: #fff;
    font-size: 16px;
    margin: 0;
    font-weight: 300; }


@media (min-width: 992px) {
    .page-header {
        padding: 100px 0 92px;
    }


    @media (min-width: 992px) {
        .page-content {
            margin-top: -56px;
        }

        .page-body > div {
            position: relative;
        }

        .page-sidebar,
        .page-content {
            float: left;
            position: absolute;
            min-height: 1px;
            padding-right: 6px;
            padding-left: 6px;
        }

        .page-sidebar {
            width: 20%;
        }

        .page-content {
            width: 80%;
            left: 20%;
            padding-bottom: 30px;
        }

        @media (min-width: 1400px) {
            .page-sidebar {
                width: 15%;
            }

            .page-content {
                width: 85%;
                left: 15%;
            }

                .page-content.full-width {
                    width: 100%;
                    left: 0;
                }
        }

        @media (max-width: 991px) {
            .page-sidebar {
                position: fixed;
                left: 0;
                top: 0;
                width: 250px;
                height: 100%;
                background: #fff;
                z-index: 99;
                -webkit-box-shadow: 0px 0px 20px 0px rgba(100, 100, 100, 0.55);
                -moz-box-shadow: 0px 0px 20px 0px rgba(100, 100, 100, 0.55);
                box-shadow: 0px 0px 20px 0px rgba(100, 100, 100, 0.55);
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

                .page-sidebar.toggled {
                    margin-left: -250px;
                }
        }




        .widget {
            background: #fff;
            margin: 0 0 40px;
            position: relative;
            z-index: 1;
            border: none;
            border-radius: 0;
        }

            .widget > .card-heading {
                padding: 26px;
                border: 0;
                background: #fff;
            }

                .widget > .card-heading .card-title {
                    font-weight: 500;
                    color: #203A45;
                }

                .widget > .card-heading .form-control {
                    margin: -5px 0;
                }

            .widget > .card-body {
                padding: 0 26px 26px 26px;
                -webkit-box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
                -moz-box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
                box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
            }

                .widget > .card-body.padding-10 {
                    padding: 10px;
                }


        .principal {
            margin-left: -18em;
        }

        .wrapper {
            background-image: url('../img/image.png');
        }

        header {
            height: 20em;
        }

        .page-title-wrapper {
            padding-left: 50px;
        }

        .card-text {
            font-weight: 100;
            font-size: 12px;
            color: gray;
        }

        .mini {
            width: 230px;
            float: left;
            margin-right: 40px;
            margin-top: 10px;
        }

        .precio {
            font-weight: 200;
            font-size: 14px;
        }

        .card-body {
            box-shadow: 5px rgba(0,0,0,.125);
        }

        .confirmPedido {
        }

        .modal {
            display: block;
            padding-right: 35%;
            padding-top: 2em;
            background: #171302e8;
        }

        form {
            padding: 0;
        }

        .modal-body {
            padding: 0px -80px 0 0;
        }

        .modal-content {
            width: 70em;
            position: center;
        }

        label {
            margin-top: 20px;
        }

        .left {
            margin-left: -20px;
            margin-right: 100px;
        }

        .right {
            margin-right: -80px;
        }

